<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Pigmend Player</Name>
    <Version>1.0.0</Version>
    <Title>Pigmend Player Installer</Title>
    <Publisher>septimomend</Publisher>
    <StartMenuDir>PigmendPlayer</StartMenuDir>
    <TargetDir>@HomeDir@/PigmendPlayer</TargetDir>
	<InstallerWindowIcon>pigmend_setup.png</InstallerWindowIcon>
	<InstallerApplicationIcon>pigmend</InstallerApplicationIcon>
	<WizardStyle>Modern</WizardStyle>
	<StyleSheet>style.qss</StyleSheet>
</Installer>
